rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 商品
    match /products/{productId} {
      allow read: if true;  // 允許所有人讀取商品
      allow create: if request.auth != null;  // 登入用戶可以創建
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.sellerId;  // 只有賣家可以更新和刪除

      // 商品底下的競價 bids
      match /bids/{bidId} {
        allow create: if request.auth != null;  // 登入的人可以出價
        allow read: if true;    // 所有人可以看競價記錄
        allow update, delete: if false;         // 出價之後不能改、不能刪
      }
    }
    
    // 使用者
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read: if true;  // 允許所有人讀取用戶資料
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      
      // 收藏夾
      match /favorites/{favoriteId} {
        allow create, read, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }

    // 收藏計數
    match /favorites_count/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
} 